@page "/"
@page "/variable-capture"
@attribute [StreamRendering]
@inject AggregateCardAnalysis Analysis
@inject CardTextAnalyzer Analyzer
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<body class="page-variable-capture">
    <h1>Card Variable Capture</h1>

    <div id="main-content">
        @foreach (var analyzedCard in Analysis.AnalyzedCards)
        {
            <div class="card-capture-block">
                <h3>@analyzedCard.Card.Name</h3>
                <pre class="full-original-text">@analyzedCard.Card.Text</pre>

                @for (int i = 0; i < analyzedCard.Clauses.Count; i++)
                {
                    var clauseTokens = analyzedCard.Clauses[i].CapturedTokens;
                    if (!clauseTokens.Any()) continue;

                    var propertyColorMap = GetPropertyColorMap(clauseTokens);
                    int captureIdCounter = 0;

                    <div class="line-capture-block">    
                        <h5 class="line-label">Line #@(i + 1)</h5>

                        <pre class="line-text">
                            @foreach (var effect in clauseTokens)
                            {
                                string captureId = $"capture-{analyzedCard.Card.CardId}-{i}-{captureIdCounter++}";
                                <NestedTokenSpan Token="effect" RootCaptureId="@captureId" PropertyColorMap="propertyColorMap" />
                                @(" ")
                            }
                        </pre>

                        @{ captureIdCounter = 0; }
                        @foreach (var effect in clauseTokens)
                        {
                            string captureId = $"capture-{analyzedCard.Card.CardId}-{i}-{captureIdCounter++}";
                            <EffectDetails Token="effect" CaptureId="@captureId" PropertyColorMap="propertyColorMap" />
                        }
                    </div>
                }
            </div>
        }
    </div>
</body>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("initCardCaptureHover");
    }

    private IReadOnlyDictionary<string, string> GetPropertyColorMap(IEnumerable<ITokenUnit> effects)
    {
        var allLineProperties = effects
            .SelectMany(eff => eff.GetRegexTemplate().GetOrderedCaptureProps().Select(p => p.Name))
            .Distinct().ToList();

        var map = new Dictionary<string, string>();

        for (int k = 0; k < allLineProperties.Count; k++)
            map[allLineProperties[k]] = Analyzer.PropertyCaptureColors[k % Analyzer.PropertyCaptureColors.Count];

        return map;
    }

    public async ValueTask DisposeAsync()
    {
        await JSRuntime.InvokeVoidAsync("disposeCardCaptureHover");
    }
}